.Banner {
  position: relative;
  height: 754px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(..\assests\images\tftpengu.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.spacing {
  letter-spacing: 2px;
}
